.blog{
    width: 100%;
    .main_details{
        width: 100%;
        .portion{
            width: 100%;
            margin-bottom: 30px;
            img{
                width: 100%;
                min-height: 273px;
                object-fit: cover;
            }
            h3{
                margin-top: 35px;
                font-weight: 600;
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .blog{        
        .main_details{           
            .portion{
                text-align: center;
                h3{
                    font-size: 15px;
                }
            }
        }
    }
}