// .col-md-6{
//     margin: 0;padding: 0;
// }
.whyChoose{
    padding: 140px 0;
    .whyChoose-container{
        width: 88%;
        margin: 0 auto;
        .whyChoose-content{
            width: 90%;
        }
        .whyChoose-video{
            .video{
                padding-top: 50px;
                .video-banner{
                    position: relative;
                    &:before{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.2);
                        z-index: 9;
                    }
                    &:after{
                        position: absolute;
                        content: '';
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        background-image: url(../../images/play_button.png);
                        background-repeat: no-repeat;
                        width: 50px;
                        height: 50px;
                        z-index: 10; 
                    }
                img{
                    width: 100%;
                    position: relative;
                }
                }
                .custom_button{
                    padding-top: 40px;
                }
            }
            .video-about{
                display: flex;
                align-items: center;
                height: 100%;
                padding-left: 20px;
            }
    
        }
    }
}

@media only screen and (max-width:1500px){
    .custom_heading h2{
        line-height: 64px;
    }
}
@media only screen and (max-width:1200px){
    .whyChoose{
        .whyChoose-container{
            .whyChoose-content{
                width: 100%;
                text-align: center;
                .custom_heading{
                    h2{
                        &::before{
                            right: 0;
                        }
                    }
                }
            }
            .whyChoose-video{
                text-align: center;
                .video{
                    .video-banner{
                        width: 50%; margin:0 auto;
                    }
                    .custom_button{
                        display: inline-block;
                    }
                }
                .video-about{
                    display: block; height: auto; text-align: center;
                    padding-top: 20px;
                }
            }
        }
    }
}
@media only screen and (max-width:1200px){
    .video{
        img{
            width: 50%;
        }
    }
}
@media only screen and (max-width:1024px){
    .row{
        display: block;
    }
    .whyChoose{
        .whyChoose-container{
            .whyChoose-video{
                .video-about{
                    display: block; height: auto; text-align: center;
                    padding-top: 20px;
                }
            }
        }
    }
}

